.phoneInput input {
  padding: 10px 15px 10px 30px !important;
}
.inputClass{
    position: relative;
}
.error-text{
position: absolute;
bottom: 2px;
margin: 0;
font-size: 10px;
color: rgb(182, 42, 42);
}
/* mobile number prefix  */
.prefix {
    position: absolute;
    bottom: 31px;
    left: 8px;
}
