.top-container {
    height: 100vh;
    position: relative;
    padding: 180px 0 0;
    border-radius: 15px;
    /* background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;*/
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--black);
        opacity: 0.7;
        z-index: 1;
    }
}

.business-container {
    background-color: var(--dark) !important;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-text {
    z-index: 1;
    position: relative;
}

.header-text {
    width: 95%;
    margin: auto;
}

.business-title {
    font-size: 80px;
    font-weight: 800;
    line-height: 80px;
}

.green-line {
    height: 1px;
    width: 35%;
    background: var(--primary-color);
    display: block;
    margin: 40px 0 30px 0;
}

.green-line.cards {
    width: 80%;
    margin: 20px 0;
}

.header-subtext {
    width: 50%;
    font-size: 26px;
    color: var(--white);
    line-height: 33px;
}

.business-cards {
    background-color: var(--grey-bg);
    border-radius: 32px;
    position: relative;
}

.business-cards h3 {
    font-size: 40px;
    margin: 0;
}

.business-cards p {
    color: var(--translucent-white);
    font-size: 20px;
    margin: 0 0 0 20px;
}

.first-section-img {
    position: absolute;
    bottom: 30px;
    left: 38%;
    width: 90px;
}

.second-section-img {
    position: absolute;
    bottom: 70px;
    right: 4%;
    width: 70px;
}

.wavy-section,
.wavy-section-p,
.wavy-section h3 {
    position: relative;
    z-index: 2;
}

.wavy-bg,
.wavy-bg-heading,
.wavy-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wavy-rectangle {
    opacity: 0.4;
}

.wavy-section-p {
    font-size: 22px !important;
    line-height: 30px;
}

.wavy-section h3 {
    line-height: 40px;
    padding: 20px 50px;
}

/* Form CSS */

.business-form {
    position: relative;
    padding: 180px 0 0;
    border-radius: 15px;
    background-image: url('/images/business/form-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--black);
        opacity: 0.6;
    }
}

.form-container {
    z-index: 2;
    background-color: #1d1d1d80;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 24px;
}

.inputClass label {
    font-size: 16px;
    color: var(--dark-grey);
}

.inputClass input {
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    background-color: var(--grey-bg);
    border: 1px solid var(--grey);
    padding: 10px 15px;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
}
/* Form CSS */

.textarea-custom {
    border-radius: 12px;
    padding: 0 !important;
    border: 1px solid var(--grey);
    margin: 5px 0 20px 0;
}

.textarea-custom,
.custom-select {
    border-radius: 12px;
    padding: 10px 15px !important;
    border: 1px solid var(--grey);
    margin: 5px 0 20px 0;
    width: 100%;
    height: 46px;
}

.custom-select {
    margin: 10px 0 20px 0;
}

.select-dropdown {
    background: var(--text-off-white);
    border-radius: 12px;
    padding: 0px !important;
    margin: 0 !important;
}

.select-dropdown > ul > li {
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s ease;
    border-radius: 12px;
}

.select-dropdown > ul > li:focus-visible,
.custom-select:focus-visible,
.textarea-custom:focus-visible {
    outline: none;
}

.select-dropdown > ul > li:hover {
    color: var(--primary-color);
}

.select-dropdown > ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

@media (max-width: 991.89px) {
    .img-fluid {
        width: 50%;
        margin: 30px auto;
    }
}

@media (max-width: 768px) {
    .business-title {
        font-size: 50px;
        line-height: 50px;
    }
    .business-cards p {
        margin: 0;
        text-align: justify;
        font-size: 15px !important;
        line-height: 22px;
        padding: 20px 10px !important;
    }
    .header-subtext {
        font-size: 18px;
        line-height: 25px;
    }
    .img-fluid {
        width: 100%;
        margin: 30px auto;
    }

    .wavy-section h3 {
        line-height: 40px;
        padding: 10px 40px;
    }

    .business-cards h3 {
        font-size: 35px;
    }

    .custom-btn {
        padding : 10px 50px !important
    }
}

@media (max-width: 600px) {
    .header-subtext {
        width: 100%;
    }
    .business-cards h3 {
        font-size: 30px;
    }
    .wavy-section h3 {
        line-height: 35px;
        padding: 10px 30px;
    }
}

@media (max-width: 450px) {
    .business-title {
        font-size: 40px;
    }
    .business-cards h3 {
        font-size: 25px;
    }
    .wavy-section h3 {
        line-height: 25px;
        padding: 15px 20px;
    }
}
