.top-container {
    height: 100vh;
    position: relative;
    padding: 180px 0 0;
    border-radius: 15px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--black);
        opacity: 0.7;
        z-index: 1;
    }
}

.business-container {
    background-color: var(--dark) !important;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-text {
    z-index: 1;
    position: relative;
    width: 95%;
    margin: auto;
}

.business-title {
    font-size: 80px;
    font-weight: 800;
    line-height: 80px;
}

.green-line {
    height: 1px;
    width: 35%;
    background: var(--primary-color);
    display: block;
    margin: 40px 0 30px 0;
}

.green-line.cards {
    width: 80%;
    margin: 20px 0;
}

.header-subtext {
    width: 50%;
    font-size: 26px;
    color: var(--white);
    line-height: 33px;
}

.business-cards {
    background-color: var(--grey-bg);
    border-radius: 32px;
    position: relative;
}

.business-cards h3 {
    font-size: 40px;
    margin: 0;
}

.business-cards p {
    color: var(--translucent-white);
    font-size: 20px;
    margin: 0 0 0 20px;
}

.first-section-img {
    position: absolute;
    bottom: 30px;
    left: 38%;
    width: 90px;
}

.second-section-img {
    position: absolute;
    bottom: 70px;
    right: 4%;
    width: 70px;
}

.wavy-section {
    width: 100%;
}

.custom-btn {
    z-index: 999;
}

.wavy-section,
.wavy-section-p,
.wavy-section h3 {
    position: relative;
    z-index: 2;
}

.wavy-bg,
.wavy-bg-heading,
.wavy-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wavy-rectangle {
    opacity: 0.4;
}

.wavy-section-p {
    font-size: 22px !important;
    line-height: 30px;
}

.wavy-section h3 {
    line-height: 40px;
    padding: 20px 50px;
}

@media (max-width: 991.89px) {
    .img-fluid {
        width: 50%;
        margin: 30px auto;
    }
}

@media (max-width: 768px) {
    .business-title {
        font-size: 50px;
        line-height: 50px;
    }
    .business-cards p {
        margin: 0;
        text-align: center;
        font-size: 15px !important;
        line-height: 22px;
        padding: 20px 10px !important;
    }
    .header-subtext {
        font-size: 18px;
        line-height: 25px;
    }
    .img-fluid {
        width: 100%;
        margin: 30px auto;
    }

    .wavy-section h3 {
        line-height: 40px;
        padding: 10px 40px;
    }

    .business-cards h3 {
        font-size: 35px;
    }

    .custom-btn {
        padding: 10px 50px !important;
    }
}

@media (max-width: 600px) {
    .header-subtext {
        width: 100%;
    }
    .business-cards h3 {
        font-size: 30px;
    }
    .wavy-section h3 {
        line-height: 35px;
        padding: 10px 30px;
    }
}

@media (max-width: 450px) {
    .business-title {
        font-size: 40px;
    }
    .business-cards h3 {
        font-size: 25px;
    }
    .wavy-section h3 {
        line-height: 25px;
        padding: 15px 20px;
    }
    .header-text {
        width: 85%;
    }
}

@media (max-width: 400px) {
    .business-title {
        font-size : 35px;
        line-height: 50px;
    }
}


@media (max-width: 360px) {
    .business-title {
        font-size : 31px;
        line-height: 40px;
    }
    .business-cards h3 {
        font-size: 25px;
    }
    .wavy-section h3 {
        line-height: 25px;
        padding: 15px 20px;
    }
}
