.bg-home {
    position: relative;
    padding: 170px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d1d1d !important;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.giveawayHead .title-sub-heading {
    width: 60%;
    margin: auto;
}

.bg-dark-grey {
    background-color: var(--dark) !important;
}
.eventdate-div {
    right: 20px;
    top: 20px;
    width: 90px;
}

.eventdate-div,
.eventenddate {
    box-shadow: 0 0 5px var(--dark-grey);
    padding: 8px 0;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.ty-img {
    width: 230px;
    border-radius: 12px;
    vertical-align: middle;
}

.eventshare-div {
    right: 20px;
    bottom: 20px;
    box-shadow: 0 0 4px #989898;
    background: var(--dark);
    padding: 8px 10px 4px;
    border-radius: 6px;
}

.eventshare-div i.fa {
    font-size: 22px;
    cursor: pointer;
}
.sliderDiv{
    border: 1px solid #989898;
    display: flex !important;
    /* align-items: center; */
    padding: 5px;
    border-radius: 20px;
    height: 140px;
}
.sliderDiv img{
    width: 120px;
    /* height: 140px; */
    border-radius: 12px;
}
.sliderDiv:focus-visible{
    outline: none;
}
.slick-slide>div {padding: 0 5px;}
/* Form CSS */ 

.fundraiser-mob-head, .structureMob {
    display: none;
}
.fundraise-abs {
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.7;
    border-radius: 20px;
    width: 100px;
}

@media (max-width: 991.89px) {
    .fundraiser-mob-head {
        display: unset;
    }
    
    .fundraiser-web-head, .fundraiser-contact br {
        display: none;
    }
    .img-fluid {
        width: 50%;
        margin: 30px auto;
    }
    .reverseRow {
        display: flex;
        flex-direction: column-reverse !important;
    }
}

@media (max-width: 768px) {
    .structureWeb{
        display: none;
    }
    .structureMob{
        display: unset;
    }
    .business-cards p {
        margin: 0;
        /* text-align: justify; */
        font-size: 15px !important;
        line-height: 22px;
    }
    .img-fluid {
        width: 100%;
        margin: 30px auto;
    }
    .custom-btn {
        padding: 10px 50px !important;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 372px) {
    .sliderDiv img{
        width: 70px;
    }
    .sliderDiv{
        /* flex-direction: column; */
        height: 110px;
    }
    .sliderDiv p{
        font-size: 8px !important;
    }
}
@media (max-width: 315px) {
    /* .sliderDiv img{
 display: none !important;
    } */
    .sliderDiv{
        /* flex-direction: column; */
        height: 100px;
    }
    .sliderDiv p{
        font-size: 7px !important;
    }
}

@media (min-width: 1500px) {
    .bg-home {
        padding: 150px 0 0 0;
    }
}
