.bg-home {
    position: relative;
    padding: 170px 0 0;
    /* background-image: url('https://test.plantd.life/images/plantdimg/giveawayhead.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.giveawayHead .title-sub-heading {
    width: 60%;
    margin: auto;
}

.bg-dark-grey {
    background-color: var(--dark) !important;
}
.eventdate-div {
    right: 20px;
    top: 20px;
    width: 90px;
}

.eventdate-div,
.eventenddate {
    box-shadow: 0 0 5px var(--dark-grey);
    padding: 8px 0;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.ty-img {
    width: 230px;
    border-radius: 12px;
    vertical-align: middle;
}

.eventshare-div {
    right: 20px;
    bottom: 20px;
    box-shadow: 0 0 4px #989898;
    background: var(--dark);
    padding: 8px 10px 4px;
    border-radius: 6px;
}

.eventshare-div i.fa {
    font-size: 22px;
    cursor: pointer;
}
.sliderDiv{
    border: 1px solid #989898;
    display: flex !important;
    padding: 5px;
    border-radius: 20px;
}
.sliderDiv img{
    width: 120px;
    height: 140px;
    border-radius: 12px;
}
.slick-slide>div {padding: 0 5px;}
/* Form CSS */ 

.business-form {
    position: relative;
    /* padding: 180px 0 0; */
    border-radius: 15px;
    background-image: linear-gradient(rgb(0 0 0 / .6), rgb(0 0 0 / .6)),url('/next-images/business/form-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.form-container {
    z-index: 2;
    background-color: #1d1d1d80;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 24px;
}

.fundraiser-mob-head, .structureMob {
    display: none;
}
.fundraise-abs {
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.9;
    border-radius: 20px;
    width: 100px;
}

@media (max-width: 991.89px) {
    .fundraiser-mob-head {
        display: unset;
    }
    .fundraiser-web-head, .fundraiser-contact br {
        display: none;
    }
    .img-fluid {
        width: 50%;
        margin: 30px auto;
    }
    .reverseRow {
        display: flex;
        flex-direction: column-reverse !important;
    }
}

@media (max-width: 768px) {
    .structureWeb{
        display: none;
    }
    .structureMob{
        display: unset;
    }
    .business-cards p {
        margin: 0;
        text-align: justify;
        font-size: 15px !important;
        line-height: 22px;
        padding: 20px 10px !important;
    }
    .img-fluid {
        width: 100%;
        margin: 30px auto;
    }
    .custom-btn {
        padding: 10px 50px !important;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 450px) {
}

@media (min-width: 1500px) {
    .bg-home {
        padding: 150px 0 0 0;
    }
}
