/* Main background section for the homepage */
.bg-home {
    padding: 10rem 0;
    background-image: url('/next-images/homepage/homeBanner.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-div {
    max-width: 100%;
    overflow: hidden;
}
/* Title styling */
.title {
    font-size: 44px; /* Set font size */
    font-weight: bold; /* Make the font bold */
    line-height: 1.3;
}

/* Sub-heading style for the giveaway header */
.title-sub-heading {
    width: 60%; /* Limit the width of the sub-heading */
    margin: auto; /* Center the sub-heading horizontally */
}

/* Dark grey background with a custom variable */
.bg-dark-grey {
    background-color: var(--dark) !important; /* Use a custom CSS variable for dark grey */
}

.home-header-subtext {
    font-size: 20px;
    color: var(--white);
    line-height: 33px;
}

.plantBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.plantBtn,
.moreBtn {
    width: 180px;
    padding: 10px 0px;
}
.plantBtn:hover,
.moreBtn:hover {
    color: var(--primary-color) !important;
    background-color: var(--white) !important;
    transition: 0.3s ease;
}
.mobile-card-swiper {
    display: none !important;
}

.home-about-section {
    background-image: url('/next-images/homepage/homeaboutimg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}
/* Styling for the slider container */
.home-projects-slider {
    padding: 10px; /* Add padding inside the container */
    border-radius: 20px; /* Round the corners */
    height: 400px; /* Set a fixed height for the slider */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    position: relative;
}
.home-projects-slider:hover {
    transform: scale(1.01);
    transition: 0.3s ease;
}

.home-about-slider {
    padding: 10px; /* Add padding inside the container */
    border-radius: 20px; /* Round the corners */
    height: 360px; /* Set a fixed height for the slider */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 30px;
}

.home-about-slider:hover h2.pages-heading.text-white {
    color: var(--primary-color) !important;
    transition: 0.3s ease;
}

/* Remove outline when the slider div is focused */
.swiper-backface-hidden .swiper-slide {
    transform: unset !important;
    transition-duration: 0s !important;
}
.home-projects-slider:focus-visible {
    outline: none;
}

/* gallery images slider css */
.gallery-images {
    width: 95%;
    margin: auto;
    border-radius: 20px;
}
.home-gallery-section .gallery-active-img.swiper-slide {
    transform: scaleY(1);
    transition-duration: 700ms;
}

.home-gallery-section .gallery-prev-img.swiper-slide,
.home-gallery-section .gallery-next-img.swiper-slide {
    transform: scaleY(0.75);
    transition: 0.2s ease-in;
}

.link-click-active {
    pointer-events: unset;
}

.link-click {
    pointer-events: none;
}

.testimonial-div {
    position: relative;
    z-index: 0;
    padding: 50px 0 0 0;
}
.testimonial-box {
    padding: 80px 30px 30px 30px;
    background-color: var(--dark);
    height: 380px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.testimonial-image {
    position: absolute;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 53px;
    transform: translate(-50%, -50%);
    z-index: 9999999 !important;
}
.testimonial-desc {
    height: 250px;
    overflow-y: auto;
}
.testimonial-desc::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px !important;
}

.project-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.home-project-section .swiper-pagination {
    display: none;
}

/* Mobile-specific styles for screen widths below 1200 */
@media (max-width: 1199.89px) {
    .plantBtn {
        width: 150px !important;
        padding: 7px 0px !important;
    }
}

/* Mobile-specific styles for screen widths below 992px */
@media (max-width: 991.89px) {
    /* Reverse row order for smaller screens */
    .reverseRow {
        display: flex;
        flex-direction: column-reverse !important;
    }
    br {
        display: none;
    }
    .home-header-subtext {
        margin-bottom: 40px;
    }
    .plantBtn {
        width: 260px !important;
        padding: 14px 0px !important;
    }
    .home-project-section .swiper-wrapper {
        padding-bottom: 45px !important;
    }
    .home-project-section .swiper-pagination {
        display: unset;
    }
    .home-project-section .swiper-pagination .swiper-pagination-bullet {
        background: var(--white);
        opacity: 1 !important;
        width: 10px;
        border-radius: 4px;
    }

    .home-project-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--primary-color);
        width: 18px;
        border-radius: 4px;
    }
    .plantBtn:hover,
    .moreBtn:hover {
        color: var(--white) !important;
        background-color: var(--primary-color) !important;
    }
}

/* Mobile-specific styles for screen widths below 768px */
@media (max-width: 767.89px) {
    /* Set img-fluid width to 100% and center it */
    .img-fluid {
        width: 100%;
        margin: 30px auto;
    }
    .home-header-subtext {
        font-size: 16px;
        line-height: 25px;
    }
    .mobile-card-swiper {
        display: unset !important;
    }
    .web-card-swiper {
        display: none !important;
    }
    .home-pages-section .swiper {
        width: 280px;
    }
    .plantBtn {
        width: 200px !important;
        padding: 12px 0px !important;
    }
}

/* Custom styles for very small screens (below 600px) */
@media (max-width: 600px) {
    .home-header-subtext {
        width: 100%;
    }
    .testimonial-box {
        padding: 80px 15px 15px 15px;
    }
    .gallery-images {
        border-radius: 12px;
    }
    /* No custom changes at this size */
}

/* Custom styles for extra small screens (below 480px) */
@media (max-width: 480px) {
    .plantBtn {
        width: 170px !important;
        padding: 8px 0px !important;
    }
}

/* Custom styles for extra small screens (below 420px) */
@media (max-width: 420px) {
    .plantBtn {
        width: 140px !important;
        padding: 5px 0px !important;
    }
}
/* Custom styles for extra small screens (below 385px) */
@media (max-width: 385px) {
    .home-pages-section .swiper {
        width: 240px;
    }
    .home-about-slider {
        height: 320px !important;
    }
}

/* Custom styles for extremely small screens (below 315px) */
@media (max-width: 345px) {
    .plantBtn {
        width: 120px !important;
        padding: 3px 0px !important;
    }
    .home-pages-section .swiper {
        width: 220px;
    }
    .home-about-slider {
        height: 280px !important;
    }
}
