/* Main background section for the homepage */
.bg-home {
    padding: 10rem 0;
    background-image: url('/next-images/homepage/homeBanner.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Title styling */
.title {
    font-size: 44px; /* Set font size */
    font-weight: bold; /* Make the font bold */
    line-height: 1.3;
}

/* Sub-heading style for the giveaway header */
.title-sub-heading {
    width: 60%; /* Limit the width of the sub-heading */
    margin: auto; /* Center the sub-heading horizontally */
}

/* Dark grey background with a custom variable */
.bg-dark-grey {
    background-color: var(--dark) !important; /* Use a custom CSS variable for dark grey */
}

.header-subtext {
    font-size: 20px;
    color: var(--white);
    line-height: 33px;
}

.plantBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-about-section {
    background-image: url('/next-images/homepage/homeaboutimg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}

/* Styling for the slider container */
.home-projects-slider {
    padding: 10px; /* Add padding inside the container */
    border-radius: 20px; /* Round the corners */
    height: 360px; /* Set a fixed height for the slider */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
}
.home-about-slider {
    padding: 10px; /* Add padding inside the container */
    border-radius: 20px; /* Round the corners */
    height: 360px; /* Set a fixed height for the slider */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove outline when the slider div is focused */
.home-projects-slider:focus-visible {
    outline: none;
}

.gallery-images {
    height: 400px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 20px;
}

/* Padding adjustment for slick slide items */
.slick-slide > div {
    padding: 0 5px;
}

/* gallery images slider css */
.gallery-slider .slick-slide.slick-active {
    opacity: 1 !important;
    transform: scale(1);
    transition-duration: 1000ms;
}

.gallery-slider .slick-slide img{
   display: flex;
   align-items: center;
}
.gallery-slider .slick-slide {
    opacity: 0.4 !important;
    transform: scale(0.9);
    transition-duration: 1000ms;
}

/* Mobile-specific styles for screen widths below 992px */
@media (max-width: 991.89px) {
    /* Reverse row order for smaller screens */
    .reverseRow {
        display: flex;
        flex-direction: column-reverse !important;
    }
    br {
        display: none;
    }
}

/* Mobile-specific styles for screen widths below 768px */
@media (max-width: 768px) {
    /* Set img-fluid width to 100% and center it */
    .img-fluid {
        width: 100%;
        margin: 30px auto;
    }
    .header-subtext {
        font-size: 16px;
        line-height: 25px;
    }
}

/* Custom styles for very small screens (below 600px) */
@media (max-width: 600px) {
    .header-subtext {
        width: 100%;
    }
    /* No custom changes at this size */
}

/* Custom styles for extra small screens (below 372px) */
@media (max-width: 372px) {
}

/* Custom styles for extremely small screens (below 315px) */
@media (max-width: 315px) {
}
