/* Main background section for the homepage */
.bg-home {
    padding: 10rem 0;
    background-image: url('/next-images/homepage/homeBanner.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Title styling */
.title {
    font-size: 40px; /* Set font size */
    font-weight: bold; /* Make the font bold */
}

/* Sub-heading style for the giveaway header */
.title-sub-heading {
    width: 60%; /* Limit the width of the sub-heading */
    margin: auto; /* Center the sub-heading horizontally */
}

/* Dark grey background with a custom variable */
.bg-dark-grey {
    background-color: var(--dark) !important; /* Use a custom CSS variable for dark grey */
}

/* Styling for the slider container */
.sliderDiv {
    border: 1px solid #989898; /* Add a border around the slider */
    display: flex !important; /* Use flexbox layout */
    padding: 5px; /* Add padding inside the container */
    border-radius: 20px; /* Round the corners */
    height: 140px; /* Set a fixed height for the slider */
}

/* Styling for images inside the slider */
.sliderDiv img {
    width: 120px; /* Set the width of the images inside the slider */
    border-radius: 12px; /* Round the corners of the images */
}

/* Remove outline when the slider div is focused */
.sliderDiv:focus-visible {
    outline: none;
}

/* Padding adjustment for slick slide items */
.slick-slide > div {
    padding: 0 5px; /* Add horizontal padding between slider items */
}


/* Mobile-specific styles for screen widths below 992px */
@media (max-width: 991.89px) {
    /* Reverse row order for smaller screens */
    .reverseRow {
        display: flex;
        flex-direction: column-reverse !important;
    }
}

/* Mobile-specific styles for screen widths below 768px */
@media (max-width: 768px) {
    /* Set img-fluid width to 100% and center it */
    .img-fluid {
        width: 100%;
        margin: 30px auto;
    }
}

/* Custom styles for very small screens (below 600px) */
@media (max-width: 600px) {
    /* No custom changes at this size */
}

/* Custom styles for extra small screens (below 372px) */
@media (max-width: 372px) {
    /* Reduce the size of slider images */
    .sliderDiv img {
        width: 70px;
    }

    /* Adjust slider div height for small screens */
    .sliderDiv {
        height: 110px; /* Smaller height */
    }

    /* Reduce font size for slider text */
    .sliderDiv p {
        font-size: 8px !important; /* Make text smaller */
    }
}

/* Custom styles for extremely small screens (below 315px) */
@media (max-width: 315px) {
    /* Adjust slider div height and text font size */
    .sliderDiv {
        height: 100px; /* Smaller height */
    }

    .sliderDiv p {
        font-size: 7px !important; /* Make text even smaller */
    }
}
