.faqs-bg-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--white);
    padding: 16rem 0;
    background-image: url('/next-images/faqs/faqbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.faqs-bg-home h1 {
    font-size : 45px;
}

/* Make accordion items bordered and triggers 100% width */
.accordion-item {
    border: 1px solid var(--primary-color-dark) !important; /* Green border */
    border-radius: 12px !important;
    margin-bottom: 20px;
}

/* Make accordion items bordered and triggers 100% width */
.accordion-item > h2 {
    margin: 0;
}

.accordion-item button {
    width: 100%;
    padding: 20px 0 !important;
    display: flex;
}

.accordion-item button svg {
    transform: rotate(-90deg);
    transition: 0.3s ease;
}

.accordion-item button[aria-expanded='true'] svg {
    transform: rotate(90deg);
}

.accordion-item span {
    font-size: 20px;
    margin-left: auto;
    color: var(--primary-color-dark);
}


@media (max-width: 768.89px) {
    .faqs-bg-home {
        padding: 15rem 0 10rem 0;
    }
    .faqs-bg-home h1 {
        font-size : 30px
    }
}
