/* Navigation Menu */

.custom-nav {
    top: 40px;
    background-color: transparent !important;
}

.navbar.smooth {
    transition: 0.3s ease;
}

.navbar-menu li.color-black > a {
    color: var(--black);
}

.navbar-menu li.color-white > a {
    color: var(--white);
}

.navbar-menu li.nav-item {
    margin: 0 10px;
    font-size: 15px;
}

.navbar-menu a.nav-link {
    position: relative;
    padding: 25px 8px;
    font-weight: normal !important;
}

.navbar-menu a.nav-link:hover,
.navbar-menu a.nav-link.active {
    color: var(--primary-color);
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 30px;
}

.primary-btn:hover {
    color: var(--primary-color);
    background-color: var(--white);
}

.new-tab {
    position: absolute;
    top: 15px;
    right: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 8px;
    padding: 0px 4px;
    border-radius: 12px;
    font-weight: 600;
}

.navbar-toggler {
    color: var(--white) !important;
    border: 0 !important;
    background: var(--primary-color);
}
/* Navigation Menu */

/* Dropdown items */

.dropdown-menu {
    box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
    border: none;
}

.dropdown-menu li a {
    padding: 6px 18px;
    transition: 0.3s ease;
}

.dropdown-menu li a:hover {
    color: var(--primary-color);
    background-color: var(--white);
}

.dropdown-menu li a:active,
.dropdown-menu li a:focus,
.dropdown-menu li a:focus-visible {
    background-color: var(--white);
    outline: none;
}

.dropdown-menu:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 30px;
    box-sizing: border-box;
    border: 7px solid var(--grey);
    border-color: #fff0 #fff0 #fff #fff;
    transform: rotate(135deg);
    -webkit-box-shadow: -2px 2px 2px -1px rgb(60 72 88 / 0.15);
    box-shadow: -2px 2px 2px -1px rgb(60 72 88 / 0.15);
}

.custom-collapsible {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.custom-collapsible.addHeight {
    max-height: 600px;
}

.nav-item > .btn {
    font-size: 14px;
    padding : 6px 16px
}
/* Dropdown items */

@media (max-width: 1140.98px) {
    .navbar-nav li a {
        font-size: 12px !important;
    }
}

@media (max-width: 991px) {
    .custom-nav {
        top: 0px;
        background-color: var(--white) !important;
    }

    .navbar-collapse {
        padding: 0 20px;
    }

    .navbar-nav li a {
        color: #000;
        margin: 0;
        margin: 10px 0 0 10px;
        padding: 6px 0 !important;
        border-top: none !important;
    }

    .navbar-menu li.nav-item {
        margin: 0;
        font-size: 15px;
    }

    .navbar-menu li.color-white > a {
        color: var(--black);
    }

    .new-tab {
        top: 0;
        right: unset;
        left: 50px;
        font-size: 6px;
    }

    .navbar-toggler {
        font-size: 24px;
        padding: 8px 12px;
    }
}
