/* =========================== */
/* Navigation Menu Styles */
/* =========================== */

/* Custom Navigation Bar */
.custom-nav {
    top: 40px;
    background-color: transparent !important;
}

.bg-black {
    background-color: var(--black);
}

.navbar.smooth {
    transition: 0.3s ease; /* Smooth transition effect for navbar */
}

/* Navigation Menu Items */
.navbar-menu li.nav-item {
    margin: 0 10px;
    font-size: 15px;
}

.navbar-menu li.color-black > a {
    color: var(--black); /* Black text for navbar items */
}

.navbar-menu li.color-white > a {
    color: var(--white); /* White text for navbar items */
}

.navbar-menu a.nav-link {
    position: relative;
    padding: 25px 0px; /* Padding for navbar links */
}

.navbar-menu a.nav-link:hover,
.navbar-menu a.nav-link.active {
    color: var(--primary-color); /* Highlight active or hovered links */
}

/* Primary Button Style */
.primary-btn {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 30px;
}

.primary-btn:hover {
    color: var(--primary-color);
    background-color: var(--white);
}

/* Navbar Toggler */
.navbar-toggler {
    color: var(--black) !important;
    border: 0 !important;
    background: var(--primary-color); /* Button background color */
}

/* "New Tab" Indicator */
.new-tab {
    position: absolute;
    top: 15px;
    right: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 8px;
    padding: 0px 4px;
    border-radius: 12px;
    font-weight: 600;
}

/* =========================== */
/* Dropdown Menu Styles */
/* =========================== */

/* Dropdown Container */
.center-dropdown {
    position: absolute;
    display: none;
    left: 50%; /* Center align the dropdown */
    transform: translateX(-50%);
    min-width: 300px; /* Dropdown width */
    top: 100%; /* Below the parent */
    z-index: 1000;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    justify-content: space-evenly; /* Even spacing for dropdown items */
}

/* Dropdown Menu */
.dropdown-menu {
    box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
    border: none;
    width: 100vw;
    background-color: var(--nav-bg);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

/* Dropdown List Items */
.dropdown-menu a {
    transition: 0.3s ease;
    cursor: pointer !important;
}

.dropdown-menu a:hover {
    border-radius: 12px;
    background-color: var(--hover-nav); /* Hover background */
    cursor: unset;
}

.dropdown-menu li.btn-blog:hover {
    background-color: transparent !important;
}

.dropdown-menu li.btn-blog:hover a {
    border-radius: 30px !important;
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
}

.dropdown-menu li.btn-blog a:hover {
    background-color: var(--white) !important;
    color: var(--primary-color) !important;
}

.dropdown-menu a p {
    padding: 6px 18px;
    transition: 0.3s ease;
    text-wrap: auto;
    color: var(--black);
}

/* Special Blog Button */
.dropdown-menu a.btn-blog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu a:hover a {
    color: var(--white);
    background-color: transparent;
}

.dropdown-menu a p:active,
.dropdown-menu a p:focus,
.dropdown-menu a p:focus-visible {
    background-color: transparent;
    outline: none;
}

/* Dropdown Arrow Indicator */
.arrow-dropdown:after {
    content: '';
    position: absolute;
    border-radius: 0 0 0 3px;
    bottom: -7px;
    box-sizing: border-box;
    border: 7px solid var(--grey);
    border-color: var(--nav-bg);
    transform: rotate(135deg);
    box-shadow: -2px 2px 2px -1px rgb(60 72 88 / 0.15);
    left: 40%;
}

.dropdown-item:hover{
    background-color: unset !important;
}

/* Dropdown Images */
.dropdown-img img {
    border-radius: 12px;
    aspect-ratio: 3 / 2; /* Maintains a 3:2 ratio */
}

/* =========================== */
/* Collapsible Styles */
/* =========================== */

.custom-collapsible {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; /* Smooth toggle animation */
}

.custom-collapsible.addHeight {
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
}

.custom-collapsible.addHeight::-webkit-scrollbar {
    display: none;
  }

.nav-item > .btn {
    font-size: 14px;
    padding: 6px 16px;
}

.navbar-brand > img {
    max-width : 100px
}

/* =========================== */
/* Responsive Styles */
/* =========================== */

@media (max-width: 1140.98px) {
    .navbar-nav li a {
        font-size: 12px !important; /* Smaller font size for nav links */
    }
}

@media (max-width: 991px) {
    /* Navigation Menu Adjustments */
    .custom-nav {
        top: 0px;
        background-color: var(--black) !important;
    }

    .navbar-collapse {
        padding: 0 20px;
    }

    .navbar-menu li.btn-blog a {
        width: 100%;
    }
    
    .navbar-nav li a {
        width: 95%;
        color: var(--black);
        margin: 0;
        margin: 10px 0 0 0;
        padding: 6px 0 !important;
        border-top: none !important;
    }

    .navbar-menu li.nav-item {
        margin: 0;
        font-size: 15px;
    }

    .navbar-menu li.color-white > a {
        color: var(--white);
    }

    /* Adjust New Tab Indicator */
    .new-tab {
        top: 0;
        right: unset;
        left: 50px;
        font-size: 6px;
    }

    /* Navbar Toggler */
    .navbar-toggler {
        font-size: 24px;
        padding: 8px 12px;
    }
    
    .navbar-nav .dropdown-menu {
        position: relative !important;
    }
    
    .arrow-dropdown:after {
        bottom : -15px;
        left: 15px;
    }
    
}
