.giveaway-bg-home {
    position: relative;
    background-color: var(--white);
    padding: 210px 0 0;
    background-image: url('https://test.plantd.life/images/plantdimg/giveawayhead.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 30px 25px var(--black) inset;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.giveawayHead .title-sub-heading {
    width: 60%;
    margin: auto;
}

.bg-dark-grey {
    background-color: var(--dark) !important;
}

.image-bg {
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.eventdate-div {
    right: 20px;
    top: 20px;
    width: 90px;
}

.eventdate-div,
.eventenddate {
    box-shadow: 0 0 5px var(--dark-grey);
    padding: 8px 0;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.ty-img {
    width: 230px;
    border-radius: 12px;
    vertical-align: middle;
}

.eventshare-div {
    right: 20px;
    bottom: 20px;
    box-shadow: 0 0 4px var(--dark-grey);
    background: var(--dark);
    padding: 8px 10px 4px;
    border-radius: 6px;
}

.eventshare-div i.fa {
    font-size: 22px;
    cursor: pointer;
}

.br-20 {
    border-radius: 20px;
}

.countdown span.value {
    display: inline-block;
    width: 66px;
    box-shadow: 0 0 2px var(--grey);
    backdrop-filter: blur(5px);
    background: linear-gradient(to left top, var(--shadow-dark), var(--shadow-dark) 66%, var(--white) 240%);
    padding: 25px 0;
    border-radius: 12px;
    font-weight: 600;
    font-size: 24px;
}

.countdown {
    margin: 0 15px;
}

/* Giveaway timeline - How to enter */

.timeline {
    position: relative;
    padding-left: 0px;
}

.timeline-item {
    padding-bottom: 40px;
    position: relative;
    padding-left: 70px;
    border-left: 6px solid var(--grey);
}

.timeline-item:last-child {
    border-left: 6px solid transparent;
}
.timeline-item-number {
    position: absolute;
    left: -36px;
    top: 0;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px 24px;
    color: var(--white);
}
.timeline-time {
    font-size: 14px;
    color: var(--dark-grey);
    margin-bottom: 5px;
}
.timeline-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.timeline-content {
    font-size: 16px;
    color: var(--grey);
}
.timeline-link {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    color: var(--dark);
    background-color: var(--white);
    border: 1px solid var(---grey);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.timeline-link:hover {
    background-color: var(--text-off-white);
    color: var(--blue);
}
.timeline-link svg {
    margin-left: 8px;
    width: 14px;
    height: 14px;
}

#howToEnter{
    scroll-margin-top: 60px;
}

#winners {
    scroll-margin-top: 200px;
}

.view-details:hover {
    background-color: var(--white) !important;
    color: var(--primary-color) !important;
}

/* Giveaway timeline - How to enter */

.img-bg {
    background-image: url('https://test.plantd.life/images/plantdimg/gaDetail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 1500px) {
    .giveaway-bg-home {
        padding: 150px 0 0 0;
    }
}

@media (max-width: 991.98px) {
    .giveawayHead .title-sub-heading,
    .scanmob {
        width: 90%;
    }
    .ty-img {
        width: 200px !important;
    }
    .timeline {
        margin-left: 30px;
    }
}

@media (max-width: 575.86px) {
    .timeline {
        margin-left: 20px;
    }
    .eventdate-div {
        position: static !important;
        right: 5px;
        top: 60px;
        padding: 8px 0;
        width: 100px;
        margin: 20px 0;
    }
    .eventdate-div p {
        font-size: 16px !important;
    }
    .eventdate-div h3 {
        font-size: 24px !important;
    }
    .ty-img {
        width: 180px !important;
    }
    .eventshare-div {
        right: 5px;
        top: 10px;
        bottom: unset;
    }
    .timeline-item-number {
        left: -22px;
        padding: 8px 15px;
        font-size: 15px;
    }

    .timeline-item {
        border-left: 3px solid var(--grey);
        padding-left: 30px;
    }

    .countdown span.value {
        width: 60px;
        padding: 20px 0;
        font-size: 20px;
    }

    .countdown {
        margin: 0 5px;
    }
    .how-to-enter-btn {
        font-size: 14px;
    }
    .how-to-enter {
        font-size: 25px;
    }
    .play-store,
    .app-store {
        width: 100px !important;
    }

    .ends-on {
        font-size: 20px;
    }
}
