.project-bg-home {
    padding: 17rem 0;
    position: relative;
    background-color: var(--white);
    background-image: url('https://plantd.life/images/plantdimg/projectHeadBanner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--black);
        opacity: 0.5;
    }
}

.project-cards {
    cursor: pointer;
}

.home-center {
    position: relative;
    z-index: 2;
}
.project-facts {
    font-size: 20px;
}

.project-facts span {
    font-size: 24px;
}

.project-image {
    width: 80%;
}

/* Projects Details */

.stats-container {
    background-image: url('https://plantd.life/images/plantdimg/headbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.start-planting:hover {
    border: 1px solid var(--primary-color);
}

.list-type-disc {
    list-style-type: disc;
}

.carousel-img-width {
    width: 75%;
}

/* Projects Details */

@media (max-width: 991px) {
    .project-bg-home {
        padding: 14rem 0 8rem 0;
    }
    .carousel-img-width {
        width: 100%;
    }
    .project-facts {
        font-size: 17px;
    }

    .project-facts span {
        font-size: 20px;
    }
}
