
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&amp;display=swap);
#slider,
.about-plant,
.bg-testimonial,
.blog-box,
.hidden-vertical-line,
.home-slider,
.project-slider .project-box,
.read-more i,
.row > *,
.section,
.testi-slider .testimonial-box,
.vertical-line {
  position: relative;
}

#loading,
#success_page,
.error_message,
.modal-para,
.play-icon-circle {
  text-align: center;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif !important;
}

.popover-links {
  color : black !important;
  padding : 6px 18px !important; 
  font-weight: 400 !important;
}

.bg-config,
.headbg {
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-rounded,
.btn-soft-primary {
  border-radius: 30px !important;
}

.hide-arrow,
.show-easemode {
  animation-duration: 1s;
}

body {
  font-size: 16px;
  color: #000;
}

.fw-700,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
  outline: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn {
  font-size: 15px;
  padding: 0.7rem 1.4rem;
  transition: 0.4s;
  font-weight: 600;
}

.btn:hover {
  outline: 0;
  text-decoration: none;
  transform: translateY(-4px);
}

.btn-sm {
  padding: 0.4rem 1rem !important;
  font-size: 0.875rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

#ajaxsuccess,
.f-16,
.read-more i {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-17 {
  font-size: 17px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-30,
.title-box .title-heading {
  font-size: 30px;
}

.navbar-toggle,
.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0;
}

.fw-normal {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.w-50 {
  width: 50%;
}

.about-app-redirection,
.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.foot-para,
.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.line-height_1_4 {
  line-height: 1.4;
}

.line-height_1_6 {
  line-height: 1.6;
}

.line-height_1_8 {
  line-height: 1.8;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.box-shadow {
  box-shadow: 0 0 40px rgb(95 125 149 / 0.1);
}

.box-shadow-lg {
  box-shadow: 0 5px 35px 0 rgb(95 125 149 / 0.15);
}

.read-more {
  color: #000;
  font-weight: 500;
  padding: 2px 0;
}

.read-more:hover {
  color: #40ba67;
  padding: 2px 0;
  transition: 0.3s;
}

.read-more i {
  top: 2px;
}

.title-box .title-sub-title {
  background: rgb(67 83 255 / 0.2);
  padding: 7px 22px;
  display: inline;
  border-radius: 30px;
  font-size: 13px;
}

.aboutImg:hover,
.project-img img:hover,
.project-link img:hover {
  transform: scale(1.02);
  transition: 1s;
}

.bg-primary {
  background-color: #40ba67 !important;
}

.bg-dark-primary {
  background-color: #006300 !important;
}

.bg-dark {
  background-color: #141414 !important;
}

.bg-second-dark {
  background-color: #1d1d1d !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-soft-primary {
  background-color: #2b2b2b !important;
}

.headbg {
  /* background-image: url(../images/plantdimg/headbg.jpg); */
}

.nav-sticky.navbar-custom .navbar-nav li a.active,
.nav-sticky.navbar-custom .navbar-nav li a:active,
.nav-sticky.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li .dropdown-menu .dropdown-item:hover,
.smoothlink:hover,
.text-primary,
a.nav-link.activate {
  color: #40ba67 !important;
}
.newTip {
  color: #40ba67 !important;
}

.newTip {
  position: absolute;
  top: 15px;
  right: 10px;
  border: 1px solid #40ba67;
  color: #fff;
  font-size: 8px;
  padding: 0px 4px;
  border-radius: 12px;
  font-weight: 600;
}


.aboutLinkTitle:hover,
.text-dark-primary {
  color: #006300 !important;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-dual-primary {
  color: #40ba67;
  fill: #fff;
}

.btn-soft-primary {
  background-color: #40ba67 !important;
  color: #fff !important;
  transition : 0.5s ease !important;
}

.btn-soft-primary .open > .dropdown-toggle.btn-primary,
.btn-soft-primary.active,
.btn-soft-primary.focus,
.btn-soft-primary:active,
.btn-soft-primary:focus,
.btn-soft-primary:hover,
.btn-soft-primary:not(:disabled):not(.disabled):active,
.btn-soft-primary:not(:disabled):not(.disabled):active:focus {
  color: #40ba67 !important;
  background: #fff !important;
  border-color: #40ba67;
}

.btn-primary {
  background: #40ba67 !important;
  border-color: #40ba67 !important;
}

.btn-outline-primary {
  color: #40ba67;
  border-color: #40ba67;
}

.btn-outline-primary .open > .dropdown-toggle.btn-primary,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  background: #40ba67;
  border-color: #40ba67;
}

.text-danger {
  color: #fb7179 !important;
}

.nav-sticky .logo,
.project-slider .slick-next:before,
.project-slider .slick-prev:before,
.text-dark {
  color: #000 !important;
}

.text-muted,
.text-white {
  color: #fff !important;
}

.bg-light {
  background-color: #f6f7fb !important;
}

.text-light {
  color: #f6f7fb !important;
}

#loading,
.topbar {
  background-color: #000;
}

.phone-topbar {
  padding: 11px 0;
}

.phone-topbar .topbar-link a {
  color: rgb(255 255 255 / 0.7);
  font-size: 14px;
}

.topbar-social i {
  color: rgb(255 255 255 / 0.7);
}

.logo .logo-light,
.mobile-none,
.nav-sticky .logo .logo-dark {
  display: inline-block;
}

.grecaptcha-badge,
.mobile-block {
  display: none !important;
}

.navbar-custom {
  padding: 0;
  width: 100%;
  border-radius: 0;
  z-index: 999;
  margin-bottom: 0;
  transition: 0.5s ease-in-out;
  top: 40px !important;
}

.nav-sticky {
  top : 0 !important;
}

.contact-btn-close,
.sweep-btn-close {
  top: 6px;
  z-index: 1000;
  cursor: pointer;
}

.navbar-custom .navbar-nav li a {
  line-height: 26px;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  transition: 0.5s;
  background-color: transparent !important;
  padding: 25px 0;
  margin: 0 10px;
  font-weight: 600;
}

.navbar-custom .dropdown-menu {
  box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
  border: none;
}

.nav-dropdown-item {
  padding: 6px 18px !important;
  color: #000 !important;
  margin: 0;
}

.navbar-custom .dropdown-menu:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 45px;
  box-sizing: border-box;
  border: 7px solid #495057;
  border-color: #fff0 #fff0 #fff #fff;
  transform: rotate(135deg);
  -webkit-box-shadow: -2px 2px 2px -1px rgb(60 72 88 / 0.15);
  box-shadow: -2px 2px 2px -1px rgb(60 72 88 / 0.15);
}

.navbar-toggler {
  color: #000;
  border: 0 !important;
  background: #40ba67;
}

.fa-bars {
  padding: 4px 0 !important;
  color: #fff !important;
}

.navbar-custom .navbar-nav li a.active,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li a:hover,
.navbar-toggle {
  color: #fff;
}

.contact-loader,
.detail-mobile-work,
.hide-easemode,
.logo .logo-dark,
.mob-title,
.mobile-work,
.nav-sticky .logo .logo-light,
.owl-pagination,
.scanmob,
.sneakPeakMobile {
  display: none;
}

.navbar-button {
  margin-left: 10px;
}

.nav-sticky.navbar-custom {
  margin-top: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgb(67 83 255 / 0.14);
}

.nav-sticky.navbar-custom.sticky-dark {
  background-color: #fff;
  top: 0;
}

.nav-sticky .navbar-nav li a {
  color: #000;
}

.nav-sticky .navbar-nav {
  margin-top: 0;
}

.contact-modal .modal-body {
  /* background: url(../images/plantdimg/headbg.jpg) 0 0 / cover no-repeat; */
  height: 420px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
}

.readmore-modal .modal-body {
  height: 350px;
  border-radius: 4px;
  background: #000;
  overflow: auto;
}

.about-img .aboutGif,
.slide img {
  height: 600px;
}

.modal-para {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

#loading,
.heading-img {
  justify-content: center;
}

.contact-btn-close {
  position: absolute;
  right: 6px;
  color: #fff !important;
  width: 4% !important;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.bg-home {
  position: relative;
  background-color: #fff;
  padding: 210px 0 0;
}

.bg-about-home {
  position: relative;
  background-color: #fff;
  padding: 180px 0 0;
}

.emailcheck-div,
.heading-img,
.passwordcheck-div {
  display: flex;
}

.home-img {
  display: flex;
  justify-content: end;
}

.home-img img,
.home-img video {
  width: 90% !important;
  mix-blend-mode: lighten;
  margin-right: -10px;
}

.readmoreDiv {
  background: #303030;
  padding: 10px;
  border-radius: 12px;
  height: 225px;
  position: relative;
}

.readmoreBtn {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #40ba67;
}

.home-content {
  padding-bottom: 14rem;
}

.ty-img {
  width: 230px;
  border-radius: 12px;
}

.work-images1,
.work-images2,
.work-images3,
.work-images4 {
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.active-content {
  border: 0.5px solid #40ba67 !important;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.work-images1 img,
.work-images2 img,
.work-images3 img,
.work-images4 img {
  border-radius: 12px;
}

.work-images1 hr,
.work-images2 hr,
.work-images3 hr,
.work-images4 hr {
  margin: 10px 0;
}

.arrow1,
.arrow2,
.arrow3,
.arrow4 {
  border-radius: 50px !important;
  background-color: #2b2b2b;
}

.work-images1.active,
.work-images2.active,
.work-images3.active,
.work-images4.active {
  background-color: #fff;
  padding: 15px;
  border-radius: 12px 12px 12px 80px;
  position: relative;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.work-images1.active img,
.work-images2.active img,
.work-images3.active img,
.work-images4.active img {
  border-radius: 12px 12px 12px 70px;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.arrow-abs1,
.arrow-abs2,
.arrow-abs3,
.arrow-abs4 {
  border-radius: 50px !important;
  background-color: #40ba67;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 3px solid #262626;
}

@keyframes hideAnimation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}

.hide-arrow {
  animation-name: hideAnimation;
  animation-fill-mode: forwards;
}

.show-arrow,
.show-easemode {
  animation-name: showAnimation;
  animation-fill-mode: forwards;
}

@keyframes showAnimation {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.show-arrow {
  animation-duration: 1.5s;
}

.work-data img {
  border-radius: 20px 0 0 20px;
}

.work-data-content {
  border-radius: 0 20px 20px 0;
  height: 100%;
  background-color: #fff !important;
  color: #2b2b2b !important;
}

.work-data-point::before {
  content: "\f111";
  color: #2b2b2b;
  font-size: 10px;
  padding-right: 10px;
  font-family: FontAwesome;
}

.work-data-point:hover {
  color: #40ba67 !important;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.accordion-collapse,
.detail-box:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.work-data-point:hover.work-data-point::before {
  content: "\f061";
  color: #40ba67 !important;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.arrow-right {
  transform: rotate(43deg);
  width: 35px;
}

.left-span,
.right-span {
  background-color: #40ba67;
  padding: 17px 25px;
  transform: translate(50%, 33%);
  position: absolute;
  font-size: 17px;
  color: #fff;
}

.detailImg1,
.detailImg2,
.detailImg3,
.detailImg4,
.detailImg5,
.detailImg6,
.detailmobImg1,
.detailmobImg2,
.detailmobImg3,
.detailmobImg4,
.detailmobImg5,
.detailmobImg6 {
  width: 70%;
  display: flex;
  margin: auto;
}

.details .container-fluid {
  width: 90%;
  border-radius: 25px;
  padding-top: 30px;
}

.details .detail-container {
  padding-right: 30px;
  padding-left: 30px;
}

.details .detail-box {
  border-radius: 25px;
  position: relative;
  width: 95%;
  background-color: #262626;
  cursor: pointer;
  border: 0.5px solid #262626;
}

.detail-box:hover {
  border: 0.5px solid #40ba67;
}

.left-span {
  border-radius: 50px;
  right: -15px;
}

.right-span {
  border-radius: 50px;
  left: -75px;
}

.perk-container {
  background-color: #e0e0e0;
  border-radius: 25px;
}

.perk-container p {
  line-height: 1.2;
}

.perk-container img {
  margin: auto;
  background-color: #262626;
  padding: 6px;
  border-radius: 50px;
}

.perk-container:hover.perk-container img,
.readmoreDiv:hover.readmoreDiv img {
  animation: 3s infinite mymove;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

@keyframes mymove {
  0%,
  100% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(360deg);
  }
}

.project-box p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sweep-modal .modal-body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: scroll;
  padding: 30px;
}

.modal-xl,
.sweep-modal .modal-lg {
  --bs-modal-width: 90vw !important;
}

.sweep-btn-close {
  position: absolute;
  right: 6px;
}

.unchecked {
  border: 0.5px solid #951717 !important;
}

.usefullinks a img {
  border-radius: 50px;
  width: 30px;
}

.usefullinks a img:hover {
  transform: scale(1.1);
}

.eventshare-div:hover,
.foot-app-icon img:hover {
  transform: scale(1.02);
}

.home-badge p {
  background-color: #f6f7fb;
  display: inline-block;
  padding: 4px 20px;
  border-radius: 4px;
  border: 1px solid #f6f6f6;
}

.submitDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grecaptcha-badge {
  position: unset !important;
}

.home-content .home-title {
  font-size: 50px;
  color: #fff;
}

.projectDetailImg img {
  border-radius: 30px;
  margin: auto;
  display: flex;
  width: 70%;
}

.seed-img {
  width: 60%;
  margin: auto;
  display: flex;
  border-radius: 20px;
}

.home-content .home-sub-title,
.thank-title {
  font-size: 40px;
  color: #fff;
}

.home-sub-title {
  line-height: 1.2;
}

.work-box .work-count p {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  color: #40ba67;
  position: relative;
  top: 35px;
  left: 40px;
  display: inline-block;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
}

.work-box .work-icon i {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #40ba67;
  font-size: 50px;
  color: #fff;
  border-radius: 50%;
}

.work-box .arrow {
  position: absolute;
  left: 77%;
  top: 77px;
}

.nav-pills {
  margin-bottom: 15px;
}

.nav-pills .nav-link {
  color: #fff;
  transition: 0.5s;
}

.nav-pills .nav-link .services-title i {
  font-size: 34px;
}

.nav-pills .nav-link:hover {
  background: rgb(67 83 255 / 0.06);
}

.play-icon-circle {
  background: #40ba67;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  display: inline-block;
  font-size: 24px;
}

#loading,
.slide {
  width: 100%;
  height: 100%;
}

.pricing-box {
  border: 1px solid #fff0;
  position: relative;
  box-shadow: 0 6px 50px rgb(0 0 0 / 0.05);
  padding: 35px 50px;
}

.pricing-box .pricing-lable {
  position: absolute;
  right: 0;
  top: 30px;
  background: #40ba67;
  display: inline-block;
  padding: 4px 19px;
  color: #fff;
  border-radius: 20px 0 0 20px;
  font-weight: 600;
}

.pricing-box .pricing-plan h1 {
  font-size: 50px;
}

.pricing-box .pricing-plan sup {
  font-size: 20px;
  position: relative;
  top: -30px;
}

.pricing-box:hover {
  transition: 0.45s;
  border: 1px solid #40ba67;
}

.eventdate-div,
.eventenddate {
  box-shadow: 0 0 5px #989898;
  padding: 8px 0;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.bg-testimonial {
  /* background-image: url(../images/bg-4.jpg); */
  background-size: cover;
  background-position: center center;
}

#contact-us .container .row,
#testimonial .container-fluid {
  background-color: #1d1d1d;
  border-radius: 25px;
}

#slider {
  margin: 20px auto;
  min-height: 400px;
  max-height: 100%;
  width: 100% !important;
  padding: 5px;
}

.slide {
  list-style: none;
}

.slide img {
  width: 70%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 22px;
}

#slider > li {
  position: absolute;
  left: 0;
  right: 0;
}

.stats-div div {
  height: 150px;
  display: grid;
  align-items: center;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 10000;
  display: flex;
  align-items: center;
}

#loading-image {
  z-index: 100;
}

.grow {
  animation: 1s infinite growAnimation;
}

@keyframes growAnimation {
  0% {
    width: 60px;
  }
  100% {
    width: 70px;
  }
}

.giveawayHead .title-sub-heading {
  width: 60%;
  margin: auto;
}

.eventdate-div {
  right: 20px;
  top: 20px;
  width: 90px;
}

.eventenddate {
  width: 100px;
}

.eventshare-div {
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 4px #989898;
  background: #141414;
  padding: 8px 10px 4px;
  border-radius: 6px;
}

.timeleft .value span {
  display: inline-block;
  width: 66px;
  box-shadow: 0 0 2px #6d6c6c;
  backdrop-filter: blur(5px);
  background: linear-gradient(to left top, #242424, #242424 66%, #eee 240%);
  padding: 25px 0;
  border-radius: 12px;
  font-weight: 600;
}

.team-box,
.team-box .team-img img {
  box-shadow: 0 6px 50px rgb(0 0 0 / 0.05);
}

.timeleft .time span {
  display: inline-block;
  width: 66px;
  color: #4ab96d;
}

.vertical-line {
  border-left: 6px solid #2b2b2a;
  margin-left: 80px;
}

.hidden-vertical-line {
  border-left: 6px solid #fff0;
  margin-left: 80px;
}

.abs-count {
  position: absolute;
  top: 0;
  left: -35px;
  font-size: 30px;
  font-weight: 600;
  background-color: #40ba67;
  border-radius: 50%;
  width: auto;
  padding: 10px 24px;
}

.tour-img {
  display: flex;
  justify-content: center;
  padding-right: 86px;
}

#ajaxsuccess,
.error {
  display: none;
  margin: 8px 0;
}

.tour-one,
.tour-three,
.tour-two {
  width: 25%;
}

.testi-content p {
  height: 250px;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.testi-content p::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.5px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #40ba67 !important;
}

.testi-slider .testimonial-box .testi-content {
  background-color: #262626;
  border-radius: 12px;
}

.testi-slider .testimonial-box .testi-img-user img {
  width: 90px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}

.project-slider .project-box .project-border,
.testi-slider .testimonial-box .testi-border {
  border: 1px solid #40ba67;
  width: 120px;
  margin: 0 auto;
}

.project-slider .project-box,
.project-slider .project-box .project-content {
  background-color: #f6f7fb;
  border-radius: 25px;
}

.project-slider .project-box .project-img-user img {
  width: 100%;
  border-radius: 12px;
}

.testi-slider .slick-dots {
  bottom: 0 !important;
}

.slick-dots li button:before {
  color: #e0e0e0 !important;
  opacity: 1 !important;
  font-size: 10px !important;
}

.slick-dots li.slick-active button:before {
  color: #40ba67 !important;
  opacity: 1 !important;
  font-size: 12px !important;
}

.slick-dots li {
  width: 10px !important;
}

.slick-prev:before {
  content: "\f053" !important;
  font-family: FontAwesome !important;
}

.slick-next:before {
  content: "\f054" !important;
  font-family: FontAwesome !important;
}

.team-box .team-img img {
  width: 140px;
}

.contact-social i,
.team-box .team-social-icon i {
  width: 34px;
  display: inline-block;
  text-align: center;
}

.team-box .team-social-icon i {
  position: absolute;
  height: 34px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 34px;
  margin-top: -34px;
  margin-left: 30px;
  background: #40ba67;
  color: #fff;
}

.team-box .team-social i {
  width: 38px;
  height: 38px;
  display: inline-block;
  line-height: 38px;
  background-color: #f6f7fb;
  border-radius: 50%;
}

.team-box .team-social i:hover {
  color: #fff;
  background-color: #40ba67;
  transition: 0.5s;
}

.blog-box .blog-title {
  transition: 0.5s;
  color: #000;
}

.blog-box .blog-title:hover,
.footer-link a:hover {
  color: #40ba67;
}

.blog-box .blog-lable {
  background: #40ba67;
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 6px 14px;
  border-radius: 20px 0 0 20px;
}

textarea.form-control {
  height: auto !important;
}

.contact-social i {
  height: 34px;
  line-height: 32px;
  border: 1px solid;
  background-color: #40ba67;
  font-size: 16px;
  color: #fff;
}

.contact-social i:hover {
  background-color: #fff;
  color: #40ba67;
  border: 1px solid;
}

.error {
  color: #fb7179;
}

#ajaxsuccess {
  width: 100%;
  clear: both;
}

.error_message {
  padding: 10px;
  margin-bottom: 20px;
  color: #fb7179;
  border: 2px solid #fb7179;
}

#success_page {
  margin-bottom: 50px;
}

.custom-form .form-control {
  height: 48px;
  font-size: 15px;
  padding-left: 15px;
  border-color: #262626;
  color: #fff;
  background: #262626;
}

.custom-form .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.custom-form .contact-lable {
  line-height: 20px;
  font-weight: 500;
  color: #898989;
  margin: 0;
  padding: 0 7px;
  z-index: 1;
}

.footer-link a {
  color: #fff !important;
  line-height: 28px;
  font-size: 15px;
  transition: 0.5s;
}

.project-img img,
.submitBtn,
.submitDisabledBtn {
  border-radius: 25px;
}

.submitBtn:hover {
  background-color: #fff !important;
  border: 1px solid #40ba67;
  color: #40ba67;
}

.about-img1,
.about-img2 {
  border-radius: 20px;
}

.main {
  font-family: Arial;
  display: block;
  margin: 0 auto;
}

.about-top {
  padding-bottom: 130px;
}

.about-img2 {
  position: absolute;
  right: 0;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-item {
  border: 1px solid #006300 !important;
  border-radius: 12px !important;
  margin-bottom: 20px;
}

.accordion-button,
.accordion-button.collapsed {
  background: 0 0 !important;
}

.signup-form img {
  border-radius: 12px 0 0 12px;
  height: 100%;
}

.signup-form .form-field {
  border-radius: 0 12px 12px 0;
}

.emailcheck-div .email-input {
  border-radius: 50px 0 0 50px !important;
  border-color: #40ba67 !important;
}

.checkBtn,
.eyeBtn {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  padding: 0 15px;
}

.checkBtn {
  background-color: #40ba67;
  border-radius: 0 50px 50px 0 !important;
}

.eyeBtn {
  background-color: #262626;
  border-radius: 0 12px 12px 0;
}

.appPerk-div {
  width: 80%;
  margin-left: auto;
}

.slick-list {
  padding: 0 20% 0 0;
}

.win-plantd {
  padding: 3.5rem !important;
}

.win-plantd img {
  width: 60% !important;
  margin: auto;
  display: flex;
}

.webRowReverse {
  flex-direction: row-reverse;
}

.project-link img {
  display: flex;
  width: 80%;
  margin: auto;
}

@media (min-width: 200px) and (max-width: 991.5px) {
  .logo .logo-light,
  .topbar,
  .work-box .arrow {
    display: none;
  }
  .navbar-custom {
    margin-top: 0;
    padding: 15px 0 !important;
    box-shadow: 0 -2px 10px rgb(67 83 255 / 0.14);
    color: #fff !important;
    top: 0;
  }
  .navbar-custom .navbar-nav {
    margin-top: 0;
  }
  .navbar-custom .navbar-nav li.active {
    border-color: #fff0;
  }
  .navbar-custom .navbar-nav li a {
    transition: 0.4s;
    color: #000;
    margin: 0;
    padding: 6px 0;
    border-top: none !important;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-custom .navbar-nav li a:active,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li.active a {
    color: #40ba67 !important;
    border-top: none !important;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
  }
  .logo .logo-dark {
    display: inline-block;
  }
}

@media (max-width: 1340.98px) {
  .slide img {
    width: 80%;
  }
}

@media (max-width: 1199.98px) {
  .giveawayHead .title-sub-heading {
    width: 70%;
  }
}

@media (max-width: 1140.98px) {
  .details .detail-container {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .modal-para {
    width: 95%;
    margin: auto;
    font-size: 17px !important;
  }
  .navbar-nav li a {
    font-size: 12px !important;
  }
  .slide img {
    width: 100% !important;
  }
  .appPerk-div {
    width: 90%;
  }
}

@media (max-width: 991.98px) {
  #aboutLink {
    margin-top: 10px;
  }
  .f-20 {
    font-size: 17px;
  }
  .giveawayHead .title-sub-heading,
  .scanmob {
    width: 90%;
  }
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .submitBtn,
  .work-col {
    margin-top: 20px;
  }
  .scanmob {
    display: flex;
    margin-right: -5px;
    justify-content: end;
  }
  .detail-mobile-work,
  .mob-title,
  .mobile-work,
  .sneakPeakMobile {
    display: unset;
  }
  .detail-web-work,
  .navbar-custom .dropdown-menu:after,
  .scanweb,
  .sneakPeakWeb,
  .web-title,
  .web-work {
    display: none;
  }
  .foot-para,
  .projectDetailImg img,
  .seed-img {
    width: 100%;
  }
  .home-content {
    padding-bottom: 3rem;
  }
  .scanner p {
    width: 70% !important;
    margin-left: auto;
  }
  .reverseRow {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .webRowReverse {
    flex-direction: row;
  }
  .project-link img {
    margin-top: 10px;
    width: 100%;
  }
  .home-img {
    justify-content: end;
  }
  .home-img img,
  .home-img video {
    width: 50% !important;
  }
  .nav-sticky .navbar-nav li a {
    font-size: 16px;
  }
  .navbar-custom.sticky-dark {
    background-color: #fff !important;
    top: 0;
  }
  .navbar-button {
    margin-left: 0;
  }
  .navbar-collapse {
    padding: 0 20px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  a.nav-link.activate {
    color: #40ba67 !important;
  }
  .navbar-brand {
    display: none !important;
  }
  .navbar-brand-mobile {
    display: unset !important;
    padding: 10px 0;
  }
  .left-span,
  .right-span {
    top: -5px;
    padding: 6px 12px;
    font-size: 13px;
  }
  .detail-container img {
    width: 50% !important;
    display: flex;
    margin: 0 auto;
  }
  .details .detail-box {
    width: unset;
  }
  #detailBox6 {
    margin-bottom: 2rem;
  }
  .foot-app-icon img {
    width: 40%;
  }
  .foot-logo {
    width: 55%;
  }
  .detail-box {
    margin: 25px 10px 0 !important;
    height: 120px !important;
  }
  .left-span {
    right: 50%;
    transform: translate(50%, -50%) !important;
  }
  .right-span {
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
  .detail-box:hover {
    border: none !important;
  }
  .slick-slider {
    margin-bottom: 0 !important;
  }
  .about-img2 {
    position: absolute;
    border-radius: 20px;
    right: 0;
    width: 50%;
  }
  .about-img1 {
    width: 60%;
  }
  .signup-form img {
    border-radius: 12px 12px 0 0;
  }
  .signup-form .form-field {
    border-radius: 0 0 12px 12px;
  }
  .contact-modal .modal-content img {
    width: 7% !important;
  }
  .win-plantd {
    padding: 2.5rem !important;
  }
  .win-plantd img,
  .work-images1 .img-fluid,
  .work-images2 .img-fluid,
  .work-images3 .img-fluid,
  .work-images4 .img-fluid {
    width: 100% !important;
  }
  .work-data {
    width: 95%;
    margin: auto;
  }
  .work-images1,
  .work-images2,
  .work-images3,
  .work-images4 {
    margin: 0 20px;
  }
  .work-data img {
    border-radius: 20px 20px 0 0 !important;
  }
  .work-data-content {
    border-radius: 20px !important;
  }
  .ty-img {
    width: 200px !important;
  }
  .tour-img {
    padding-right: 36px;
  }
  .tour-one,
  .tour-three,
  .tour-two {
    width: 30%;
  }
  .appPerk-div {
    width: 80%;
    margin-right: auto;
  }
  .newTip {
    top: 1px;
    right: unset;
    left:50px;
    font-size: 6px;

  }  
}

@media (max-width: 767.86px) {
  .contact-info,
  .footer-info,
  .usefullinks,
  .usefullinks h4 {
    text-align: center;
  }
  .giveawayHead .title-sub-heading {
    width: 100%;
  }
  #emailExist p.w-80 {
    width: 100% !important;
  }
  .stats-div div {
    height: unset;
  }
  .link-head,
  .submitDiv {
    flex-direction: column !important;
  }
  .foot-para {
    margin: auto;
  }
  .foot-logo {
    width: 30%;
  }
  .foot-app-icon img {
    width: 20%;
    margin: auto;
    text-align: center;
  }
  .projectDetailImg img,
  .seed-img {
    width: 80%;
    margin-top: 20px;
  }
  .contact-info {
    justify-content: flex-start !important;
    margin: 20px 0;
  }
  .details .detail-container {
    padding-right: 0 !important;
  }
  .navbar-brand-mobile {
    padding: 0 !important;
  }
  .usefullinks {
    display: flex;
    justify-content: center;
  }
  .usefullinks ul {
    margin: 0;
  }
  .list-unstyled {
    margin-right: 10px;
  }
  .contact-modal .modal-body,
  .readmore-modal .modal-body {
    height: 300px;
  }
  .f-22 {
    font-size: 20px;
  }
}

@media (max-width: 575.86px) {
  .about-app-redirection,
  .appPerk-div {
    width: 100%;
  }
  .detail-box,
  .home-content {
    text-align: center;
  }
  .bg-home {
    padding: 180px 0 0;
  }
  .bg-home.contact-bg {
    margin: 50px 0 0;
    padding: 150px 0 0;
  }
  .bg-about-home {
    padding: 120px 0 0;
  }
  .ty-img {
    width: 180px !important;
  }
  .projectDetailImg img,
  .seed-img {
    width: 95%;
  }
  .scanner p {
    width: 80% !important;
    margin-left: unset;
  }
  .foot-app-icon img,
  .foot-logo {
    width: 25%;
  }
  .foot-app-icon {
    display: flex;
    flex-direction: column;
  }
  .work-data-content {
    padding: 20px 10px !important;
  }
  #signup-section .container {
    display: unset !important;
  }
  #signup-section .container span {
    text-align: center;
    display: block;
  }
  #signup-section .container .btn-soft-primary {
    display: block;
    width: 40%;
    margin: 20px auto 0;
  }
  .details p {
    width: 100% !important;
  }
  .home-img img,
  .home-img video {
    width: 90% !important;
  }
  .home-content .home-title {
    font-size: 24px;
  }
  .detail-box h5,
  .home-content p {
    font-size: 17px;
  }
  .home-content h3 {
    font-size: 25px !important;
  }
  .home-content h3.text-primary {
    margin-left: 0 !important;
  }
  .work-images1,
  .work-images2,
  .work-images3,
  .work-images4 {
    margin: 0 10px;
  }
  .left-span,
  .right-span {
    font-size: 13px;
    border-radius: 50px;
    position: absolute;
    padding: 6px 12px;
  }
  .abs-count,
  .detail-box p {
    font-size: 15px;
  }
  .detail-box {
    padding: 0.7rem !important;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .term-img1 {
    width: 40%;
    margin: auto;
  }
  .term-img2 {
    width: 90%;
    margin: auto;
  }
  .perk-container p {
    width: 95% !important;
  }
  .perk-container {
    height: 210px;
  }
  .tour-one,
  .tour-three,
  .tour-two {
    width: 80%;
  }
  .download-link {
    width: 100px !important;
  }
  .hidden-vertical-line,
  .vertical-line {
    margin-left: 30px;
  }
  .tour-img {
    padding-right: 46px;
  }
  .abs-count {
    position: absolute;
    top: 0;
    left: -22px;
    font-weight: 600;
    background-color: #40ba67;
    border-radius: 50%;
    width: auto;
    padding: 9px 16px;
  }
  .eventdate-div {
    position: static !important;
    right: 5px;
    top: 60px;
    padding: 8px 0;
    width: 70px;
    margin-bottom: 10px;
  }
  .eventshare-div {
    right: 5px;
    top: 10px;
    bottom: unset;
  }
  .link-copied {
    bottom: unset !important;
    top: 60px;
    right: 5px !important;
  }
  .eventdate-div p {
    font-size: 12px !important;
  }
  .eventdate-div h3 {
    font-size: 16px !important;
  }
}

@media (max-width: 375.86px) {
  #signup-section .container .btn-soft-primary {
    width: 60%;
  }
  .f-22 {
    font-size: 16px;
  }
  .download-link {
    width: 90px !important;
  }
}

@media (max-width: 400.86px) {
  .timeleft .value span {
    display: inline-block;
    width: 40px;
    box-shadow: 0 0 2px #6d6c6c;
    backdrop-filter: blur(5px);
    background: linear-gradient(to left top, #242424, #242424 66%, #eee 240%);
    padding: 10px 0;
    border-radius: 12px;
    font-weight: 600;
  }
  .timeleft .time span {
    display: inline-block;
    width: 40px;
    color: #4ab96d;
    font-size: 12px;
  }
  #slider {
    min-height: 300px;
  }
}

@media (max-width: 340.86px) {
  .detail-box p {
    font-size: 13px;
  }
  .detail-box h5 {
    font-size: 15px;
  }
}

@media (max-width: 325.86px) {
  .perk-container {
    height: 225px;
  }
}

@media (min-width: 767.86px) and (max-width: 979.86px) {
  .footer a,
  .footer p,
  .footer span {
    font-size: 10px;
  }
  .footer h4 {
    font-size: 12px;
  }
  .footer a {
    line-height: 1;
  }
  .footer p {
    line-height: 2;
  }
}

@media (min-width: 1500.86px) {
  .about-img1 {
    width: 80%;
  }
  .about-img2 {
    width: 50%;
  }
  .project-box p {
    -webkit-line-clamp: 4;
  }
  .home-content {
    padding-top: 10rem;
  }
  #main-home-content.home-content {
    padding-top: unset !important;
  }
  .bg-about-home,
  .bg-home {
    padding: 150px 0 0;
  }
  .home-content .home-title {
    font-size: 55px;
    color: #fff;
  }
  .home-content p {
    font-size: 28px;
  }
  .home-content .home-sub-title,
  .thank-title {
    font-size: 50px;
    color: #fff;
  }
}

@media (min-width: 1850.86px) {
  .foot-app-icon img {
    width: 20%;
  }
}

@media (min-width: 1950.86px) {
  .home-content .home-title {
    font-size: 78px;
    color: #fff;
  }
  .home-content p {
    font-size: 40px;
  }
  .home-content .home-sub-title,
  .thank-title {
    font-size: 65px;
    color: #fff;
  }
  .win-plantd img,
  .work-images1 .img-fluid,
  .work-images2 .img-fluid,
  .work-images3 .img-fluid,
  .work-images4 .img-fluid {
    width: 100% !important;
  }
}

@media (max-width: 610px) {
  .about-head br,
  .about-para br {
    display: none;
  }
}
/* @media (min-width:991.89px)and(max-width:1080.89px) {
    .navbar-nav li a {
        font-size: 12px;
    }
} */
