@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Poppins:400,600,700&amp;display=swap);

:root {
    --primary-color: #40ba67; /* Light green */
    --primary-color-dark: #006300; /* Light green */
    --white: #ffffff; /* White */
    --black: #000000; /* Black */
    --grey: #495057; /* Black */
    --dark: #141414;
    --grey-bg: #1d1d1d;
    --dark-grey: #989898;
    --text-off-white: #f0f0f0;
    --translucent-white: #ffffff80;
}

* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

.title-color {
    color: var(--white);
}

.text-white {
    color: var(--white) !important;
}
.text-green {
    color: var(--primary-color);
}

.text-green-dark {
    color: var(--primary-color-dark);
}

.btn-soft-primary {
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
    border-radius: 30px !important;
}

.w-90 {
    width: 90% !important;
    border-radius: 12px;
}

.w-95 {
    width: 95% !important;
    border-radius: 12px;
}

.w-100 {
    width: 100% !important;
}

.fw-normal {
    font-weight: 400;
  }
  
  .fw-600 {
    font-weight: 600;
  }
  
  .fw-800 {
    font-weight: 800;
  }
  
  .fw-900 {
    font-weight: 900;
  }

.btn-rounded {
    padding: 20px 100px !important;
    border-radius: 56px !important;
}

input:focus-visible,
select:focus-visible {
    outline: none;
}

.fs-50 {
    font-size: 50px;
    font-weight: bold;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}
.fs-8 {
    font-size: 8px;
}
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.position-relative{
    position: relative;
}
@media (max-width: 991px) {
    .fs-20 {
        font-size: 17px;
    }
    .fs-50 {
        font-size: 30px;
    }
}

/* PC Screen Size */

/* PC Screen Size */

/* Small Screens */

/* Small Screens */

/* Scrollbar */

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: var(--text-off-white);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

/* Scrollbar */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

section.section-green {
    background-color: var(--primary-color-dark);
}

.hover-green {
    transition: 0.3s ease;
}
.hover-green:hover {
    color: var(--primary-color-dark) !important;
}
