/* Form CSS */

#form {
    scroll-margin-top: 150px;
}

.business-form {
    position: relative;
    padding: 180px 0 0;
    border-radius: 15px;
    background-image: linear-gradient(rgb(0 0 0 / .9), rgb(0 0 0 / .9)),url('/next-images/business/form-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
    &:before {
        border-radius: 32px;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.form-container {
    z-index: 2;
    background-color: #1d1d1d80;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 24px;
}

.inputClass label {
    font-size: 16px;
    color: var(--dark-grey);
}

.inputClass {
    margin-bottom: 20px;
}

.inputClass input {
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    background-color: var(--grey-bg);
    border: 1px solid var(--grey);
    padding: 10px 15px;
    border-radius: 12px;
    margin-top: 5px;
}
.inputClass input.phoneNumber {
    padding: 10px 15px;
    border-radius: 0px 12px 12px 0px;
}

.plus-input {
    padding: 10px 15px;
    background-color: var(--grey-bg);
    border: 1px solid var(--grey);
    border-radius: 12px 0px 0px 12px;
    margin-top: 5px;
}

.textarea-custom {
    border-radius: 12px;
    padding: 0 !important;
    border: 1px solid var(--grey);
    margin: 5px 0 0 0;
}

.textarea-custom,
.custom-select {
    border-radius: 12px;
    padding: 10px 15px !important;
    border: 1px solid var(--grey);
    width: 100%;
    height: 46px;
}

.custom-select {
    margin: 10px 0 0 0;
}

.select-dropdown {
    background: var(--text-off-white);
    border-radius: 12px;
    padding: 0px !important;
    margin: 0 !important;
}

.select-dropdown > ul > li {
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s ease;
    border-radius: 12px;
}

.select-dropdown > ul > li:focus-visible,
.custom-select:focus-visible,
.textarea-custom:focus-visible {
    outline: none;
}

.select-dropdown > ul > li:hover {
    color: var(--primary-color);
}

.select-dropdown > ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

/* Form CSS */

.btn-disabled {
    cursor: default !important;
    opacity: 0.3;
}

.btn-disabled:hover {
    background-color: var(--primary-color) !important;
    color: var(--whtie);
}
