.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-container h4{
    font-weight: 700;
}

.footer-logo {
    flex: 1;
    max-width: 300px;
}

.logo-image {
    width: 150px;
    margin-bottom: 20px;
}

.footer-description {
    font-size: 14px;
    margin-top: 10px;
}

.footer-contact,
.footer-links {
    flex: 1;
    min-width: 250px;
}

.footer-contact h4,
.footer-links h4 {
    margin-bottom: 15px;
}

.footer-contact p,
.footer-contact a,
.footer-links ul,
.footer-links li {
    font-size: 14px;
    line-height: 1.6;
}

.footer-link ul {
    list-style: none;
    padding: 0;
}

.footer-link li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.app-links img {
    width: 120px;
    margin-right: 10px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: #000 !important;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #333;
    padding-top: 10px;
}
.foot-app-icon .app-store {
    margin-right: 10px;
}

.usefullinks a img {
    border-radius: 50px;
    width: 30px;
}

.f-18 {
    font-size: 18px;
}

@media (max-width: 991.89px) {
    .f-15 {
        font-size: 12px !important;
    }
    .footer-info img{
        width: 60%;
    }
}
@media (max-width: 767.89px) {
    .footer-container{
        text-align: center;
    }
    .f-15 {
        font-size: 15px !important;
    }
    .footer-info img{
        width: unset;
        margin: auto;
    }
    .foot-app-icon .app-store {
        display: flex;
        justify-content: end;
        margin-right: 10px;
    }
    .foot-app-icon .app-store  {
        margin-right: 5px;
    }
    .foot-app-icon .play-store {
        margin-left: 5px;
    }
    .foot-app-icon {
        justify-content: center;
    }
    .useful-link-div{
        display: unset !important;
    }
    .footer-link li {
        margin-bottom: 4px;
    }
    .list-unstyled {
        margin-bottom: 6px !important;
    }
    .footer-info img{
        width: 50%;
    }
}
