/* .modal-lg {
    --bs-modal-width: 90vw !important;

} */
 .info-modal-content{
    border: 2px solid var(--primary-color);
 }
.close{
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: 1000;
    cursor: pointer;
}
